<div class="container-fluid  page__heading-container">
  <div class="page__heading"> 
    <h1 class="m-0">Mon profil</h1>
  </div>
</div>

<div class="container-fluid page__container">
  <div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-4 card-body">
        <p><strong class="headings-color">Informations du compte</strong></p>
        <p class="text-muted">Modifier vos informations personnelles.</p>
      </div>
      <div class="col-lg-8 card-form__body card-body">
        <div class="form-group">
          <label>Avatar</label>
          <div 
            class="dz-clickable media align-items-center"
            data-toggle="dropzone"
            data-dropzone-url="http://"
            data-dropzone-clickable=".dz-clickable"
            data-dropzone-files='["<%= image_path('stack/account-add-photo.svg') %>"]'>
            <div class="dz-preview dz-file-preview dz-clickable mr-3">
              <div class="avatar" style="width: 80px; height: 80px;">
                <img src="<%= image_path('stack/account-add-photo.svg') %>" class="avatar-img rounded" alt="..." data-dz-thumbnail>
              </div>
            </div>
            <div class="media-body">
              <button class="btn btn-sm btn-primary dz-clickable">Choisir une photo</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="fname">Prénom(s)</label>
              <input id="fname" type="text" class="form-control" placeholder="First name" value="Brice">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="lname">Nom</label>
              <input id="lname" type="text" class="form-control" placeholder="Last name" value="ALLAGBE">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="desc">Bio / Description</label>
          <textarea id="desc" rows="4" class="form-control" placeholder="Bio / description ..."></textarea>
        </div>
        <div class="form-group">
          <label for="country">Pays</label><br>
          <select id="country" class="custom-select" style="width: auto;">
            <option value="SN">Sénégal</option>
          </select>
          <small class="form-text text-muted">The country is not visible to other users.</small>
        </div>
        <div class="form-group">
          <label for="subscribe">S'abonner à la newsletter</label><br>
          <div class="custom-control custom-checkbox-toggle custom-control-inline mr-1">
            <input checked="" type="checkbox" id="subscribe" class="custom-control-input">
            <label class="custom-control-label" for="subscribe">Oui</label>
          </div>
          <label for="subscribe" class="mb-0">Oui</label>
        </div>
      </div>
    </div>
  </div>


  <div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-4 card-body">
        <p><strong class="headings-color">Changement mot de passe</strong></p>
        <p class="text-muted">Changer votre mot de passe.</p>
      </div>
      <div class="col-lg-8 card-form__body card-body">
        <div class="form-group">
          <label for="opass">Ancien mot de passe</label>
          <input style="width: 270px;" id="opass" type="password" class="form-control" placeholder="ancien mot de passe" value="****">
        </div>
        <div class="form-group">
          <label for="npass">Nouveau mot de passe</label>
          <input style="width: 270px;" id="npass" type="password" class="form-control is-invalid">
          <small class="invalid-feedback">obligatoire.</small>
        </div>
        <div class="form-group">
          <label for="cpass">Confirmation mot de passe</label>
          <input style="width: 270px;" id="cpass" type="password" class="form-control" placeholder="Confirmation mot de passe">
        </div>
      </div>
    </div>
  </div>

  
  <div class="text-right mb-5">
    <a href="" class="btn btn-success">Enregistrer</a>
  </div>
</div>