<!-- Banner ___________________________________ -->

		<section class="banner">
			<div class="rev_slider_wrapper">
				<div id="main_slider" class="rev_slider"  data-version="5.0">
					<ul>

						<li data-index='rs-355' class="slide_show slide_1" data-transition='boxslide' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default' data-rotate='0' data-saveperformance='off' data-title='Slide Boxes' data-description=''> <!-- Slide_show -->
							<img src="images/home/slide-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" >
							
							<div class="main_heading tp-caption tp-resizeme"
								data-x="['left','left','left','left']" data-hoffset="['0','0','30','40']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-169','-169','-139','-80']"
				        		data-whitespace="nowrap"
								data-transform_idle="o:1;"
								data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:2000;e:Power3.easeInOut;" 
								data-transform_out="y:[100%];s:1000;s:1000;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="500" 
								data-splitin="none" 
								data-splitout="none">
								<h1>trois ou quatre mots en <br/>titre sur deux lignes.</h1>
							</div>
							<div class="tp-caption tp-resizeme"
								data-x="['left','left','left','left']" data-hoffset="['0','0','30','40']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-16','-16','-06','20']"
								data-transform_idle="o:1;"
								data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeOut;" 
								data-transform_out="y:[100%];s:1000;s:1000;" 
								data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
								data-start="1000" 
								data-splitin="none" 
								data-splitout="none"
								data-elementdelay="0.05">
								<p class="p_color">Vous avez besoin de rédiger un document <br/>personnel ou administratif ?</p>
							</div>
							<div class="tp-caption"
								data-x="['left','left','left','left']" data-hoffset="['0','0','30','40']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['87','87','97','107']"
								data-transform_idle="o:1;"
								data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								data-style_hover="c:rgba(0, 154, 238, 1.00);bc:rgba(0, 154, 238, 1.00);cursor:pointer;"
								data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;" 
								data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;" 
								data-start="1000" 
								data-splitin="none" 
								data-splitout="none">
								<a href="#" class="contact_us_button tran3s s_color_bg theme_button">Faire une demande</a>
							</div>
						</li> <!-- /Slide_show -->
						
					</ul>
				</div> <!-- /main_slider -->
			</div> <!-- /rev_slider_wrapper -->
		</section> <!-- /banner -->




		<!-- Request Quote _____________________________________ -->
		<div class="request_quote">
			<div class="container">
				<p class="float_left">ConsultPress over 20 years of experience we’ll ensure you always get the best guidance.</p>
				<a href="#" class="theme_button s_color_bg float_right tran3s">Request Quote</a>
				<div class="clear_fix"></div>
			</div> <!-- End of .container -->
		</div> <!-- End of .request_quote -->



		<!-- Company Excellence _________________________________ -->

		<div class="company_excellance">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 single_excellance">
						<div class="hexagon tran3s">
							<span class="ficon flaticon-staticsscreen"></span>
						</div>

						<div class="text">
							<h5>Documents personnels</h5>
							<span class="s_color_bg tran3s"></span>
							<p class="tran3s">Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
						</div> 
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 single_excellance">
						<div class="hexagon tran3s">
							<span class="ficon flaticon-statics"></span>
						</div>

						<div class="text">
							<h5>Documents administratifs</h5>
							<span class="s_color_bg tran3s"></span>
							<p class="tran3s">Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
						</div> 
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 single_excellance">
						<div class="hexagon tran3s">
							<span class="ficon flaticon-wheel"></span>
						</div>

						<div class="text">
							<h5>Documents projets</h5>
							<span class="s_color_bg tran3s"></span>
							<p class="tran3s">Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
						</div>
					</div>

				</div> <!-- End of .row -->
			</div> <!-- End of .container -->
		</div> <!-- End of .company_excellance -->


		<!-- About ConsultPress & Testimonial ____________ -->

		<div class="about_testimonial">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about_ConsultPress">
						<div class="theme_title">
							<h3>Qui sommes nous ?</h3>
						</div>
						<p>Sos-Notes est la première startup dédiée à l’aide à la rédaction de tous types de documents (CV, Cahiers des charges, documents administratifs, demandes de subventions).. Sos-Notes, via son application et son équipe de rédacteurs spécialisés  peut  répondre aux besoins  en écriture de particuliers comme à ceux d’une entreprise ou d’une institution. <br/>
                        Sos-Notes est  le partenaire indispensable pour toutes productions de documents nécessaires dans un temps courts...</p>
                        <a href="#" class="float_right tran3s s_color_bg theme_button">Lire la suite ...</a>
                    </div> <!-- End of .about_ConsultPress -->

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 testimonial">
						<div class="theme_title">
							<h3>Nos utilisateurs en parlent</h3>
						</div>
						<!-- __________________ testimonial Slider ____________ -->

						<div class="slider_wrapper">
							<div class="testimonial-carousel-content-box owl-carousel owl-theme">
								<!-- SLide  -->
								<div class="item">
									<div class="text p_color_bg">
										<i>Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam</i>
									</div> <!-- End of .text -->
									<div class="author">
										<img src="images/home/1.jpg" alt="Client Image" class="float_left border_round">
										<div class="author_name float_left">
											<h6 class="p_color">Brice ALLAGBE<span>- Developpeur</span></h6>
											<ul>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
										</div>
									</div>
								</div>
								

								<!-- SLide  -->
								<div class="item">
									<div class="text p_color_bg">
										<i>Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam</i>
									</div> <!-- End of .text -->
									<div class="author">
										<img src="images/home/2.jpg" alt="Client Image" class="float_left border_round">
										<div class="author_name float_left">
											<h6 class="p_color">Fanta HEMERYCK <span>- CEO</span></h6>
											<ul>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
										</div>
									</div>
								</div>
								
							</div> <!-- End of .testimonial-carousel-content-box -->
							<div class="thumbnail_wrapper">
								<div class="testimonial-carousel-thumbnail-box owl-carousel owl-theme">
									<div class="item">
										<img src="images/home/1.jpg" alt="Image"/>
									</div>
									<div class="item">
										<img src="images/home/2.jpg" alt="Image"/>
									</div>
								</div> <!-- End of .sidebar-testimonial-carousel-thumbnail-box -->
								<div class="clear_fix"></div>
							</div> <!-- End of .thumbnail_wrapper -->

						</div> <!-- End .slider_wrapper -->
					</div> <!-- End of .testimonial -->
				</div> <!-- End of .row -->
			</div> <!-- End of .container -->
		</div> <!-- End of .about_testimonial -->



		<!-- What Makes us Special _________________________ -->

		<div class="makesUs_special">
			<div class="overlay">
				<div class="container">
					<div class="theme_title">
						<h2>SOS Notes en quelques chiffres ?</h2>
					</div>
					<div class="row">
						<!-- _____________ Item ____________ -->
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="special_item">
								<div class="icon float_left"><span class="ficon flaticon-peopletwo"></span></div> <!-- End of .icon -->
								<div class="text float_left">
									<span class="timer" data-from="1" data-to="100" data-speed="2000" data-refresh-interval="50">100</span>
									<p>Utilisateurs</p>
								</div>
								<div class="clear_fix"></div>
							</div>
						</div>

						<!-- _____________ Item ____________ -->
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="special_item">
								<div class="icon float_left"><span class="ficon flaticon-screen"></span></div> <!-- End of .icon -->
								<div class="text float_left">
									<span class="timer" data-from="1" data-to="30" data-speed="2000" data-refresh-interval="10">30</span>
									<p>Rédacteurs</p>
								</div> <!-- End of .text -->
								<div class="clear_fix"></div>
							</div>
						</div>

						<!-- _____________ Item ____________ -->
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="special_item">
								<div class="icon float_left"><span class="ficon flaticon-badge"></span></div> <!-- End of .icon -->
								<div class="text float_left">
									<span class="timer" data-from="10" data-to="100" data-speed="2000" data-refresh-interval="50">100</span>
									<p>Documents livrés</p>
								</div>
								<div class="clear_fix"></div>
							</div>
						</div>


						<!-- _____________ Item ____________ -->
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="special_item">
								<div class="icon float_left"><span class="ficon flaticon-smile"></span></div> <!-- End of .icon -->
								<div class="text float_left">
									<span class="timer" data-from="1" data-to="100" data-speed="2000" data-refresh-interval="50">100</span><span>%</span>
									<p>Satisfied clients</p>
								</div> <!-- End of .text -->
								<div class="clear_fix"></div>
							</div> <!-- End of .special_item -->
						</div> <!-- End of .col -->

					</div> <!-- End of .row -->
				</div> <!-- End of .container -->
			</div> <!-- End of .overlay -->
		</div> <!-- End of .makesUs_special -->




		<!-- Why Choose Us ________________________ -->

		<section class="why_choose_us">
			<div class="container">
				<div class="theme_title_center">
					<h2>Pourquoi nous choisir ?</h2>
					<span></span>
				</div> <!-- End of .theme_title_center -->

				<div class="row">

					<!-- ______________ Item _____________ -->
					<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<div class="choose_us_item tran3s">
							<div class="icon p_color_bg border_round float_left"><span class="ficon flaticon-hexagon"></span></div> <!-- End of .icon -->
							<div class="text float_left">
								<h5 class="tran3s">25 years of Experience</h5>
								<p class="tran3s">We have over 25 years experience providing expert financial advice.</p>
							</div> <!-- End of .text -->
							<div class="clear_fix"></div>
						</div> <!-- End of .choose_us_item -->
					</div> <!-- End of .col -->

					<!-- ______________ Item _____________ -->
					<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<div class="choose_us_item tran3s">
							<div class="icon p_color_bg border_round float_left"><span class="ficon flaticon-web"></span></div> <!-- End of .icon -->
							<div class="text float_left">
								<h5 class="tran3s">Global Solutions</h5>
								<p class="tran3s">We present you the various topics of business consultations</p>
							</div> <!-- End of .text -->
							<div class="clear_fix"></div>
						</div> <!-- End of .choose_us_item -->
					</div> <!-- End of .col -->

					<!-- ______________ Item _____________ -->
					<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<div class="choose_us_item tran3s">
							<div class="icon p_color_bg border_round float_left"><span class="ficon flaticon-user"></span></div> <!-- End of .icon -->
							<div class="text float_left">
								<h5 class="tran3s">Individual Approach</h5>
								<p class="tran3s">We are always looking for specific approach to each cases.</p>
							</div> <!-- End of .text -->
							<div class="clear_fix"></div>
						</div> <!-- End of .choose_us_item -->
					</div> <!-- End of .col -->

					<!-- ______________ Item _____________ -->
					<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<div class="choose_us_item tran3s">
							<div class="icon p_color_bg border_round float_left"><span class="ficon flaticon-twopeople"></span></div> <!-- End of .icon -->
							<div class="text float_left">
								<h5 class="tran3s">Exclusive Partnerships</h5>
								<p class="tran3s">We work with premier community development impact investors.</p>
							</div> <!-- End of .text -->
							<div class="clear_fix"></div>
						</div> <!-- End of .choose_us_item -->
					</div> <!-- End of .col -->

					<!-- ______________ Item _____________ -->
					<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<div class="choose_us_item tran3s">
							<div class="icon p_color_bg border_round float_left"><span class="ficon flaticon-people"></span></div> <!-- End of .icon -->
							<div class="text float_left">
								<h5 class="tran3s">Business Opportunities</h5>
								<p class="tran3s">Raising business development, the involvement of partners.</p>
							</div> <!-- End of .text -->
							<div class="clear_fix"></div>
						</div> <!-- End of .choose_us_item -->
					</div> <!-- End of .col -->

					<!-- ______________ Item _____________ -->
					<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
						<div class="choose_us_item tran3s">
							<div class="icon p_color_bg border_round float_left"><span class="ficon flaticon-telephone"></span></div> <!-- End of .icon -->
							<div class="text float_left">
								<h5 class="tran3s">24/7 Online Support</h5>
								<p class="tran3s">Assured of our support 24 hours a day, 7 days a week. </p>
							</div> <!-- End of .text -->
							<div class="clear_fix"></div>
						</div> <!-- End of .choose_us_item -->
					</div> <!-- End of .col -->
				</div>
			</div> <!-- End of .container -->
		</section> <!-- End of .why_choose_us -->



		<!-- Our Team ________________________________ -->

		<section class="ourWP_team">
			<div class="overlay">
				<div class="container">
					<div class="theme_title_center">
						<h2>Notre équipe</h2>
						<span></span>
					</div> <!-- End of .theme_title_center -->

					<div class="row">
						<!-- ________________ Member ______________ -->
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="team_member">
								<div class="img_holder">
									<img src="images/team/1.jpg" alt="Team Member" class="img-responsive">
									<div class="opacity tran3s">
										<div class="icon">
											<span><a href="#" class="border_round p_color_bg"><i class="fa fa-plus s_color" aria-hidden="true"></i></a></span>
										</div> <!-- End of .icon -->
									</div> <!-- End of .opacity -->
								</div> <!-- End of .img_holder -->

								<div class="text">
									<h5>Charles Nicholes</h5>
									<i>Ceo & Managing Director</i>
									<p>The MD of ConsultPress, he has been the captain of his team.. </p>
									<a href="tel:800-700-6200">Tel: 800-700-6200</a>
									<a href="mailto:Ceo@Consulting.com">Mail: Ceo@Consulting.com</a>
								</div> <!-- End of .text -->
							</div> <!-- End of .team_member -->
						</div> <!-- End of .col -->

						<!-- ________________ Member ______________ -->
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="team_member">
								<div class="img_holder">
									<img src="images/team/2.jpg" alt="Team Member" class="img-responsive">
									<div class="opacity tran3s">
										<div class="icon">
											<span><a href="#" class="border_round p_color_bg"><i class="fa fa-plus s_color" aria-hidden="true"></i></a></span>
										</div> <!-- End of .icon -->
									</div> <!-- End of .opacity -->
								</div> <!-- End of .img_holder -->

								<div class="text">
									<h5>Rebecca Garza</h5>
									<i>Administrator & Business Developer</i>
									<p>She is an  ConsultPress  technical adviser & business developer</p>
									<a href="tel:800-700-6200">Tel: 800-700-6200</a>
									<a href="mailto:admin@Consulting.com">Mail: Admin@Consulting.com</a>
								</div> <!-- End of .text -->
							</div> <!-- End of .team_member -->
						</div> <!-- End of .col -->

						<!-- ________________ Member ______________ -->
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="team_member">
								<div class="img_holder">
									<img src="images/team/3.jpg" alt="Team Member" class="img-responsive">
									<div class="opacity tran3s">
										<div class="icon">
											<span><a href="#" class="border_round p_color_bg"><i class="fa fa-plus s_color" aria-hidden="true"></i></a></span>
										</div> <!-- End of .icon -->
									</div> <!-- End of .opacity -->
								</div> <!-- End of .img_holder -->

								<div class="text">
									<h5>Stepthen Adams</h5>
									<i>Chief Finance Officer</i>
									<p>He has managed to bring to the company as well as ConsultPress</p>
									<a href="tel:800-700-6200">Tel: 800-700-6200</a>
									<a href="mailto:finance@Consulting.com">Mail: Admin@Consulting.com</a>
								</div> <!-- End of .text -->
							</div> <!-- End of .team_member -->
						</div> <!-- End of .col -->

						<!-- ________________ Member ______________ -->
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="team_member">
								<div class="img_holder">
									<img src="images/team/4.jpg" alt="Team Member" class="img-responsive">
									<div class="opacity tran3s">
										<div class="icon">
											<span><a href="#" class="border_round p_color_bg"><i class="fa fa-plus s_color" aria-hidden="true"></i></a></span>
										</div> <!-- End of .icon -->
									</div> <!-- End of .opacity -->
								</div> <!-- End of .img_holder -->

								<div class="text">
									<h5>Ben Johnson</h5>
									<i>Chief Marketing Officer</i>
									<p>Community Head and has worked tirelessly to help the needy. </p>
									<a href="tel:800-700-6200">Tel: 800-700-6200</a>
									<a href="mailto:Marketing@Consulting.com">Mail: Admin@Consulting.com</a>
								</div> <!-- End of .text -->
							</div> <!-- End of .team_member -->
						</div> <!-- End of .col -->
					</div> <!-- End of .row -->
				</div> <!-- End of .overlay -->
			</div> <!-- End of .container -->
		</section> <!-- End of .ourWP_team -->


		<!-- FAQ and Latest News _________________________ -->

		<div class="faqAndNews">
			<div class="container">
				<div class="row">

					<!-- _______________ FAQ Panel _______________ -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="faq_panel">
							<div class="theme_title">
								<h3>Foire aux questions</h3>
							</div>

							<div class="panel-group theme-accordion" id="accordion">
							  <div class="panel">
							    <div class="panel-heading active-panel">
							      <h6 class="panel-title">
							      	<span class="icon tran3s"></span>
							        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
							        Question 1?</a>
							      </h6>
							    </div>
							    <div id="collapse1" class="panel-collapse collapse in">
							      <div class="panel-body">
							      	<p>Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
							      </div>
							    </div>
							  </div> <!-- /panel 1 -->
							  <div class="panel">
							    <div class="panel-heading">
							      <h6 class="panel-title">
							      	<span class="icon tran3s"></span>
							        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
							         Question 2?</a>
							      </h6>
							    </div>
							    <div id="collapse2" class="panel-collapse collapse">
							      <div class="panel-body">
							      	<p>Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
							      </div>
							    </div>
							  </div> <!-- /panel 2 -->
							  <div class="panel">
							    <div class="panel-heading">
							      <h6 class="panel-title">
							      	<span class="icon tran3s"></span>
							        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
							        Question 3 ?</a>
							      </h6>
							    </div>
							    <div id="collapse3" class="panel-collapse collapse">
							      <div class="panel-body">
							      	<p>Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
							      </div>
							    </div>
							  </div> <!-- /panel 3 -->

							  <div class="panel">
							    <div class="panel-heading">
							      <h6 class="panel-title">
							      	<span class="icon tran3s"></span>
							        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
							        Question 4 ?</a>
							      </h6>
							    </div>
							    <div id="collapse4" class="panel-collapse collapse">
							      <div class="panel-body">
							      	<p>Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
							      </div>
							    </div>
							  </div> <!-- /panel 4 -->
							</div> <!-- end #accordion -->
						</div> <!-- End of .faq_panel -->
					</div> <!-- End of .col -->

					
					
					

				</div> <!-- End of .row -->
			</div> <!-- End of .container -->
		</div> <!-- End of .faqAndNews -->





		<!-- Partner Logo _________________________ -->
        <br/><br/>
        <div class="container partners">
            <div class="theme_title">
                <h3>Ils nous ont fait confiance</h3>
            </div>
            <br/>
			<div id="partner_logo" class="owl-carousel owl-theme">
				<div class="item"><img src="images/partner-logo/1.jpg" alt="logo"></div>
				<div class="item"><img src="images/partner-logo/2.jpg" alt="logo"></div>
				<div class="item"><img src="images/partner-logo/3.jpg" alt="logo"></div>
				<div class="item"><img src="images/partner-logo/4.jpg" alt="logo"></div>
				<div class="item"><img src="images/partner-logo/1.jpg" alt="logo"></div>
				<div class="item"><img src="images/partner-logo/2.jpg" alt="logo"></div>
				<div class="item"><img src="images/partner-logo/3.jpg" alt="logo"></div>
				<div class="item"><img src="images/partner-logo/4.jpg" alt="logo"></div>
			</div> <!-- End .partner_logo -->
		</div>

        <br/><br/><br/>



		<!-- Google map _________________________________ -->
		<section id="google-map-area">
			<div class="google-map-home skin-2" id="contact-google-map" data-map-lat="14.66861290210662540" data-map-lng="-17.43335007396506" data-icon-path="images/logo/1.png" data-map-title="Awesome Place" data-map-zoom="12"></div>

			<div class="address_wrapper">
				<div class="container">
					<div class="map_address">
						<div class="item">
							<h5 class="s_color">Office 1</h5>

							<ul>
								<li><i class="fa fa-map-marker s_color" aria-hidden="true"></i>30 rue Amadou Assane Ndoye</li>
								<li><i class="fa fa-phone s_color" aria-hidden="true"></i><a href="tel:221330000000">(+221) 33 000 00 00</a></li>
								<li><i class="fa fa-envelope s_color" aria-hidden="true"></i><a href="#">contact@sosnote.com</a></li>
							</ul>
						</div> <!-- End of .item -->

						<div class="item">
							<h5 class="s_color">Office 2</h5>

							<ul>
								<li><i class="fa fa-map-marker s_color" aria-hidden="true"></i>Adresse 2</li>
								<li><i class="fa fa-phone s_color" aria-hidden="true"></i><a href="tel:221330000000">(+221) 33 000 00 00.</a></li>
								<li><i class="fa fa-envelope s_color" aria-hidden="true"></i><a href="#">contact@sosnote.com</a></li>
							</ul>
						</div> <!-- End of .item -->

					</div> <!-- End of .map_address -->
				</div>
			</div> <!-- End of .address_wrapper -->
   		</section>
