<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about_ConsultPress">
            <div class="theme_title">
                <h3>Notre fonctionnement ?</h3>
            </div>
                <p>
                    <br/><br/>
                    De manière à répondre efficacement aux différentes demandes de nos clients, Sos-Notes a créé une équipe mêlant l’humain à l’Intelligence artificielle.<br/><br/>
                    Développé au cœur de notre laboratoire de R&D, Le programme Sos-Notes AI est en capacité de proposer des courriers types et apprend à s’améliorer au fur et à mesure des retours qui lui sont faits.<br/><br/>
                    L’équipe ‘en chair et en os’ se répartie d'abord entre des experts métiers, des rédacteurs et une équipe d’encadrement. Ces derniers vont ‘au côté de l’IA’ réaliser tous les écrits demandés par nos clients.<br/><br/>
                    Une seconde équipe au profil plus technique est en charge du laboratoire de R&D et se concentre sur l’évolution de l’offre digitale de Sos-Notes.<br/><br/>
                </p>
            </div>
        </div>
    </div>
</div>