<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about_ConsultPress">
            <div class="theme_title">
                <h3>Qui sommes nous ?</h3>
            </div>
                <p>
                    <br/><br/>
                    Sos-Notes est la première startup dédiée à l’aide à la rédaction de tous types de documents (CV, Cahiers des charges, documents administratifs, demandes de subventions).. Sos-Notes, via son application et son équipe de rédacteurs spécialisés  peut  répondre aux besoins  en écriture de particuliers comme à ceux d’une entreprise ou d’une institution.<br/><br/>
                    Sos-Notes est  le partenaire indispensable pour toutes productions de documents nécessaires dans un temps courts. L’ensemble de ses offres dématérialisées font de Sos-Notes : un coach rédacteur virtuel disponible à tout moment. Apres une mise en relation avec nos équipes,  Les travaux de réécriture, de syntaxe sont réalisés en direct via sa plateforme ou son application.<br/><br/>
                    Les entreprises comme les particuliers bénéficient avec Sos-Notes d’un accompagnement sur toutes leurs actions qui requièrent un écrit. D’une simple demande de remboursement en passant par un CV ou une note de synthèse, Sos-Notes et son équipe s’applique à vous proposer un écrit de qualité dans les délais les plus brefs. La demande peut être faite directement en ligne quand il s’agit de documents simples ou en prenant contact avec notre équipe via l’application ou la plateforme dédiée. <br/><br/>
                </p>
            </div>
        </div>
    </div>
</div>