<div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-4 card-body">
        <p><strong class="headings-color">Appel à candidature</strong></p>
        <p class="text-muted">Veuillez renseigner les champs ci-contre pour une meilleure prise en charge de votre demande</p>
      </div>
      <div class="col-lg-8 card-form__body card-body">
        <form>
            <div class="form-group">
                <label for="objet">Objet</label>
                <input type="text" class="form-control" id="objet" placeholder="">
            </div>
            <label>Profils recherchés</label>
            <div style="height: 200px;" data-toggle="quill" data-quill-placeholder="les détails des profils recherchés">
            
            </div>

            <label>Procédure de sélection</label>
            <div style="height: 200px;" data-toggle="quill" data-quill-placeholder="les détails de la procédure de sélection">
            
            </div>   
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
      </div>
    </div>
  </div>