<div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-4 card-body">
        <p><strong class="headings-color">Contrat</strong></p>
        <p class="text-muted">Veuillez renseigner les champs ci-contre pour une meilleure prise en charge de votre demande</p>
      </div>
      <div class="col-lg-8 card-form__body card-body">
        <form>
            <label for="type_contrat">Type contrat</label>
            <select id="type_contrat"  data-toggle="select" class="form-control form-control-sm">
                <option>Autre</option>
                <option>Emploi</option>
                <option>Partenariat</option>
                <option>Prestation</option>
                <option>Stage</option>
                <option>Subvention</option>
            </select>
            <label>Identifications des structures impliquées </label>
            <div style="height: 200px;" data-toggle="quill" data-quill-placeholder="">
            
            </div>
            <div class="form-group">
              <label for="objet">Objet</label>
              <input type="text" class="form-control" id="objet" placeholder="">
            </div>
            <label>Obligations de chaque partie </label>
            <div style="height: 200px;" data-toggle="quill" data-quill-placeholder="">
            
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
      </div>
    </div>
  </div>