<div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-4 card-body">
        <p><strong class="headings-color">Devis</strong></p>
        <p class="text-muted">Veuillez renseigner les champs ci-contre pour une meilleure prise en charge de votre demande</p>
      </div>
      <div class="col-lg-8 card-form__body card-body">
        <form>
            <div class="form-group">
                <label for="nom_commercial_emetrice">Nom commercial structure émétrice</label>
                <input type="text" class="form-control" id="nom_commercial_emetrice" placeholder="">
            </div>
            <div class="form-group">
                <label for="sigle_emetrice">Sigle structure émétrice</label>
                <input type="text" class="form-control" id="sigle_emetrice" placeholder="">
            </div>
            <div 
                class="dropzone dropzone-multiple w-100" 
                data-toggle="dropzone" 
                data-dropzone-multiple 
                data-dropzone-url="http://"
                data-dropzone-files='[]'>

            </div>
            <br/>
            <div class="form-group">
                <label for="contact_emetrice">Contacts structure émétrice</label>
                <input type="text" class="form-control" id="contact_emetrice" placeholder="">
            </div>
            
            <br/><br/>

            <div class="form-group">
                <label for="nom_destinataire">Nom commercial / Nom complet du destinataire</label>
                <input type="text" class="form-control" id="nom_destinataire" placeholder="">
            </div>
            <div class="form-group">
                <label for="contact_destinataire">Contacts du destinataire</label>
                <input type="text" class="form-control" id="contact_destinataire" placeholder="">
            </div>

            <label>Liste des services/produits (nom, Prix unitaire, quantité)</label>
            <div style="height: 200px;" data-toggle="quill" data-quill-placeholder="Liste des produits / services et leur coût">
            
            </div>  

            <div class="form-group col-lg-6">
                <label for="remise">Remise</label>
                <input type="text" class="form-control" id="remise" placeholder="10% par exemple" >
            </div>

            <div class="form-group col-lg-6">
                <label for="tva">TVA applicable</label>
                <input type="text" class="form-control" id="tva" placeholder="20% par exemple" >
            </div>

            <div class="form-group">
                <label for="mentions">Mentions particulières</label>
                <input type="text" class="form-control" id="mentions" placeholder="" >
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
      </div>
    </div>
  </div>