<div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-4 card-body">
        <p><strong class="headings-color">Mémoire</strong></p>
        <p class="text-muted">Veuillez renseigner les champs ci-contre pour une meilleure prise en charge de votre demande</p>
      </div>
      <div class="col-lg-8 card-form__body card-body">
        <form>
            <label for="memoire">Votre mémoire au format .doc ou .odt</label>
            <div 
                id="memoire"
                class="dropzone dropzone-multiple w-100" 
                data-toggle="dropzone" 
                data-dropzone-multiple 
                data-dropzone-url="http://"
                data-dropzone-files='[]'>

            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
      </div>
    </div>
  </div>