<div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-4 card-body">
        <p><strong class="headings-color">Contrat</strong></p>
        <p class="text-muted">Veuillez renseigner les champs ci-contre pour une meilleure prise en charge de votre demande</p>
      </div>
      <div class="col-lg-8 card-form__body card-body">
        <form>
            <div class="form-group">
              <label for="nom_restaurant">Nom du restaurant</label>
              <input type="text" class="form-control" id="nom_restaurant" placeholder="">
            </div>
            <label>Liste des plats (type, nom, tarif) </label>
            <div style="height: 250px;" data-toggle="quill" data-quill-placeholder="">
            
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
      </div>
    </div>
  </div>